@{
    ViewData["Title"] = "choose";
}


<!-- Carousel Start -->
<div class="carousel-header">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="~/img/first1.jpg" class="img-fluid w-100" alt="Image">
                <center>
                    <form class="p-4 border rounded">
                        <div class="sinlog">
                            <a class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4" asp-controller="Home" asp-action="sign_up">Kayıt Ol</a>
                            <a class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4" asp-controller="Home" asp-action="login">Giriş Yap</a>
                        </div>
                    </form>
                </center>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
