@{
    ViewData["Title"] = "gallery";
}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Galeri</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="Index.cshtml">Ana Sayfa</a></li>
            <li class="breadcrumb-item active text-primary">Galeri</li>
        </ol>
    </div>
</div>
<!-- Header End -->

<!-- Carousel Start -->
<div class="carousel-header">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
@*                 <img src="~/img/first1.jpg" class="img-fluid w-100" alt="Image">
 *@
                <center>
                    <a class="our-work-container lightbox margin-bottom">
                        <img src="~/img/foto1.jpg" width="200" height="200" alt="">
                    </a>
                    <a class="our-work-container lightbox margin-bottom">
                        <img src="~/img/foto2.jpg" width="200" height="200" alt="">
                    </a>
                    <a class="our-work-container lightbox margin-bottom">
                        <img src="~/img/foto3.jpg" width="200" height="200" alt="">
                    </a>
                    <a class="our-work-container lightbox margin-bottom">
                        <img src="~/img/foto4.jpg" width="200" height="200" alt="">
                    </a>
                    <a class="our-work-container lightbox margin-bottom">
                        <img src="~/img/foto5.jpg" width="200" height="200" alt="">
                    </a>
                    <a class="our-work-container lightbox margin-bottom">
                        <img src="~/img/foto6.jpg" width="200" height="200" alt="">
                    </a>
                    <a class="our-work-container lightbox margin-bottom">
                        <img src="~/img/foto7.jpg" width="200" height="200" alt="">
                    </a>
                    <a class="our-work-container lightbox margin-bottom">
                        <img src="~/img/foto8.jpg" width="200" height="200" alt="">
                    </a>
                    <a class="our-work-container lightbox margin-bottom">
                        <img src="~/img/foto9.jpg" width="200" height="200" alt="">
                    </a>
                    <a class="our-work-container lightbox margin-bottom">
                        <img src="~/img/foto10.jpg" width="200" height="200" alt="">
                    </a>
                    <a class="our-work-container lightbox margin-bottom">
                        <img src="~/img/foto11.jpg" width="200" height="200" alt="">
                    </a>
                    <a class="our-work-container lightbox margin-bottom">
                        <img src="~/img/foto12.jpg" width="200" height="200" alt="">
                    </a>
                </center>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
