@{
    ViewData["Title"] = "Home Page";
}


<!-- Carousel Start -->
<div class="carousel-header">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="~/img/first2.jpg" class="img-fluid w-100" alt="Image">
                <div class="carousel-caption-1">
                    <div class="carousel-caption-1-content" style="max-width: 900px;">
                        <h1 class="display-2 text-capitalize text-white mb-4 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1.3s" style="animation-delay: 1.3s;">Özel Bozok Erkek Öğrenci Yurdu </h1>
                        <p class="mb-5 fs-5 text-white fadeInLeft animated" data-animation="fadeInLeft" data-delay="1.5s" style="animation-delay: 1.5s;">
                            Eğitim hayatınızı kolaylaştıracak imkanlarla dolu, başarıya odaklı bir öğrenci yurdu deneyimi sizi bekliyor.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

