@{
    ViewData["Title"] = "Giriş Yap";
}

<!-- Carousel Start -->
<div class="carousel-header">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="~/img/first1.jpg" class="img-fluid w-100" alt="Image">

                <center>
                    <h1>Giriş Yap</h1>

                    <!-- Form Başlangıcı -->
                    <form method="post" action="/Home/Login" class="p-4 border rounded">

                        <!-- Email Alanı -->
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="email">Email</label>
                                <input type="text" id="email" name="email" class="form-control" placeholder="Email adresi" required>
                            </div>
                        </div>

                        <!-- Şifre Alanı -->
                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="password">Şifre</label>
                                <input type="password" id="password" name="sifre" class="form-control" placeholder="Şifre" required>
                            </div>
                        </div>

                        <!-- Giriş Butonu -->
                        <div class="row form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4">
                                    Giriş Yap
                                </button>
                            </div>
                        </div>

                    </form>
                    <!-- Form Bitişi -->
                </center>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
@if (!string.IsNullOrEmpty(ViewBag.Mesaj))
{
    <p style="color:red; text-align:center; margin-top:15px;">@ViewBag.Mesaj</p>
}
