@{
    ViewData["Title"] = "services";
}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Hizmetlerimiz</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="Index.cshtml">Ana Sayfa</a></li>
            <li class="breadcrumb-item active text-primary">Hizmetlerimiz</li>
        </ol>
    </div>
</div>
<!-- Header End -->

<!-- Carousel Start -->
<div class="carousel-header">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
@*                 <img src="~/img/first1.jpg" class="img-fluid w-100" alt="Image">
 *@
                <div class="container1">
                    <div class="feature">
                        <img src="~/img/yatak.jpg" alt="Hakkımızda">
                        <h3>HAKKIMIZDA</h3>
                        <p>149 Öğrenci kapasitesi ile hizmet veren yurdumuzda 3 ve 4 kişilik odalarımız bulunmaktadır. Odalarda ortopedik yatak, çalışma masası, kişisel elbise dolabı bulunmaktadır. Odalar merkezi sistemle ısıtılmaktadır.</p>
                    </div>
                    <div class="feature">
                        <img src="~/img/yemek.jpg" alt="3 Öğün Yemek">
                        <h3>3 ÖĞÜN YEMEK</h3>
                        <p>Sabah Kahvaltısı, öğle ve akşam yemekleri öğrencilerimiz için hijyenik ortamlarda hazırlanmaktadır.</p>
                    </div>
                    <div class="feature">
                        <img src="~/img/otobus.jpg" alt="Kolay Ulaşım">
                        <h3>ŞEHİR MERKEZİNE VE ÜNİVERSİTELERE KOLAY ULAŞIM</h3>
                        <p>Bozok Üniversitesi'nin otobüsleri yurdumuzun önünden geçmekte olup üniversiteye tek otobüsle 10 dakikada ulaşım sağlanabilmektedir.</p>
                    </div>
                    <div class="feature">
                        <img src="~/img/kitap.jpg" alt="Sessiz ve Ferah Çalışma Ortamı">
                        <h3>SESSİZ VE FERAH ÇALIŞMA ORTAMI</h3>
                        <p>Öğrencilerimizin okul derslerinde başarılı olabilmeleri için hazırlanmış sessiz ve düzenli çalışma etüdleri.</p>
                    </div>
                    <div class="feature">
                        <img src="~/img/banyo.jpg" alt="Sıcak Su">
                        <h3>24 SAAT SICAK SU</h3>
                        <p>24 saat boyunca kesintisiz sıcak su hizmeti sağlanmaktadır.</p>
                    </div>
                    <div class="feature">
                        <img src="~/img/camasir.jpg" alt="Çamaşır ve Ütü">
                        <h3>ÇAMAŞIR YIKAMA VE ÜTÜ İMKANI</h3>
                        <p>Öğrencilerimizin temiz ve düzenli olmaları için çamaşır ve ütü odası mevcuttur.</p>
                    </div>
                    <div class="feature">
                        <img src="~/img/gezi.jpg" alt="Sosyal Faaliyetler">
                        <h3>SOSYAL FAALİYETLER</h3>
                        <p>Öğrencilerimizin uygun oldukları zamanlarda, il içi ve dışı kültürel geziler, piknikler, doğa yürüyüşleri, kişisel gelişim konferansları yapılmaktadır.</p>
                    </div>
                    <div class="feature">
                        <img src="~/img/wifi.jpg" alt="İnternet">
                        <h3>İNTERNET (WI-FI)</h3>
                        <p>Fiber altyapısı ile limitsiz 5G hızında internet imkanı sunulmaktadır.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
